@font-face {
    font-family: "Poppins-Medium";
    src: url("./font/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("./font/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("./font/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Actor";
    src: url("./font/Actor-Regular.ttf");
}

@font-face {
    font-family: "Quat";
    src: url("./font/Quattrocento-Regular.ttf");
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

.logo {
    width: 30%;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}

.active,
.collapsible:hover {
    background-color: #29123c;
    color: #FFF;
}

.computer {
    background: rgb(208, 52, 48);
    background: linear-gradient(180deg, rgba(208, 52, 48, 1) 0%, rgba(102, 45, 145, 1) 90%);
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@media screen and (min-width: 768px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .start {
        margin-top: 0%;
    }

    .start h1 {
        font-size: 3.5rem;
        padding-top: 0%;
    }

    .start p {
        font-size: 1.5rem;
        margin: 5% 0 15% 0;
    }

    .here {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .here img {
        width: 30%;
    }

    .here p {
        text-align: right;
        width: 45%;
    }

    .explaination {
        font-size: 1.5rem;
    }

    .explaination a {
        font-size: 1.5rem;
    }

    .explaination img {
        width: 100%;
    }

    #blockchain {
        font-size: 1.5rem;
    }

    #blockchain h2 {
        font-size: 2.5rem;
    }

    #blockchain iframe {
        width: 85%;
    }

    .collapsible {
        margin: 2% 5%;
        width: 50%;
    }

    .content {
        width: 50%;
    }

    .nft-art h3 {
        font-size: 2.5rem;
    }

    .nft-art p {
        font-size: 1.2rem;
        padding: 5% 10%;
    }

    .etheria .twitter-tweet {
        max-width: 100% !important;
        padding: 1% 15%;
    }

    .tweet {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .positives {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .immutability,
    .smart-contract,
    .revenue,
    .community {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 50%;
    }

    .immutability img {
        margin: -10% 0 0 0;
        padding: 0 5%;
    }

    .community {
        margin-bottom: 40%;
    }

    .negatives {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 1.2rem;
    }

    .negative h4 {
        font-size: 2rem;
        padding: 5% 0;
    }

    .power img {
        padding: 2% 15%;
    }

    .investment,
    .distribution,
    .fraud,
    .money-laundering {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 2% 0;
        width: 50%;
    }

    .investment p,
    .distribution p,
    .fraud p,
    .money-laundering p {
        padding: 2% 10%;
    }

    .solutions {
        font-size: 1.2rem;
    }

    .ending {
        font-size: 1.2rem;
    }

    .renewable {
        width: 100%;
    }

    .solution a {
        color: #FFF;
    }

    .TLDR {
        padding-bottom: 5%;
    }

    .TLDR-span {
        text-align: center;
        text-decoration: underline;
    }

    .TLDR p {
        font-size: 1.2rem;
        padding: 0;
        width: 80%;
    }

    .footer {
        padding: 5% 0;
    }

    .link {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .link a {
        font-size: 1.5rem;
        text-align: left;
        width: 33%;
    }

    .link a:link {
        text-decoration: none;
    }

    .link a:hover {
        color: var(--blockchain-color);
        transform: scale(1.1);
    }

    .link a:visited {
        color: var(--blockchain-color);
    }

    .contact {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact svg {
        width: 80%;
    }

    .contact a {
        padding: 0 1%;
        width: 30%;
    }

    .contact p {
        font-size: 1.6rem;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .start {
        padding: 15% 0;
    }

    .start p {
        margin: 5% 0;
    }

    .here {
        justify-content: center;
    }

    .here img {
        width: 25%;
    }

    .welcome a {
        padding: 1% 8%;
    }

    .explaination {
        background: rgb(102, 45, 145);
        background: linear-gradient(180deg, rgba(102, 45, 145, 1) 0%, rgba(46, 14, 93, 1) 60%, rgba(20, 27, 75, 1) 100%);
    }

    .explaination svg {
        width: 50%;
    }

    .explaination p {
        line-height: 3rem;
    }

    #blockchain h2 {
        font-size: 3rem;
    }

    #blockchain p {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    #blockchain iframe {
        height: 30rem;
        width: 83%;
    }

    .NFT-rect {
        opacity: 0%;
    }

    .nft-art h3 {
        font-size: 3rem;
        padding-bottom: 3%;
    }

    .nft-art p {
        line-height: 2.5rem;
        padding: 2% 10%;
    }

    .etheria .twitter-tweet {
        max-width: 30% !important;
    }

    .anything-nft {
        width: 50%;
    }

    .tweet {
        justify-content: space-around;
        width: 90%;
    }

    .tweet .twitter-tweet {
        max-width: 25% !important;
    }

    .immutability img {
        margin: 0 0;
    }

    .immutability {
        padding-bottom: 10%;
    }

    .negative h4 {
        font-size: 3rem;
    }

    .power img {
        padding: 2% 25%;
    }

    .solution-span {
        font-size: 3rem !important;
    }

    .help {
        width: 80%;
    }

    .solutions {
        font-size: 1.4rem;
    }

    .solution {
        background: rgb(102, 45, 145);
        background: linear-gradient(180deg, rgba(102, 45, 145, 1) 0%, rgba(20, 27, 75, 1) 90%);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100vw;
    }

    .renewable {
        margin-bottom: 20%;
        width: 45%;
    }

    .tezos {
        background: transparent;
        width: 45%;
    }

    .ending {
        font-size: 1.5rem;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 3.5rem;
    }

    .ending svg {
        padding: 0 0;
        width: 25%;
    }

    .ending p {
        width: 25%;
    }

    .TLDR span {
        font-size: 4rem;
    }

    .TLDR p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .footer {
        padding: 0 0;
    }

    .links a {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1440px) {
    .start {
        padding: 9% 0;
    }

    .start p {
        font-size: 2rem;
        line-height: 3rem;
        margin: 2% 0;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .here {
        margin: 2% 0;
        width: 75%;
    }

    .explaination {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .explaination svg {
        width: 45%;
    }

    .explaination p {
        font-size: 2rem;
        width: 50%;
    }

    .explaination a {
        font-size: 2.2rem;
    }

    #blockchain iframe {
        margin: 3% 0;
        width: 59%;
    }

    #blockchain p {
        width: 100%;
    }

    .database {
        width: 75% !important;
    }

    .video {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .video p {
        width: 100%;
    }

    .content {
        width: 80%;
    }

    .nft-art {
        width: 75%;
    }

    .tweet {
        width: 100%;
    }

    .positives {
        padding: 2% 0;
    }

    .community {
        margin-bottom: 15%;
    }

    .immutability img,
    .smart-contract img,
    .revenue img {
        width: 80%;
    }

    .negatives span {
        font-size: 3rem;
    }

    .negative h4 {
        padding: 3% 0;
    }

    .power {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .power img {
        padding: 2% 0;
    }

    .consumption {
        text-align: center;
    }

    .investment,
    .distribution,
    .fraud,
    .money-laundering {
        justify-content: center;
    }

    .investment svg,
    .distribution svg,
    .money-laundering img {
        width: 75%;
    }

    .help {
        font-size: 2rem;
        line-height: 3rem;
    }

    .solution {
        line-height: 2.5rem;
    }

    .solution-span {
        font-size: 4rem !important;
    }

    .renewable {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0;
    }

    .renewable svg {
        margin: 5% 0;
        width: 75%;
    }

    .renewable p {
        width: 90%;
    }

    .renewable span {
        font-size: 3rem;
    }

    .renewable-span {
        text-align: center;
    }

    .tezos span {
        font-size: 3rem;
    }

    .ending {
        padding: 5% 0;
    }

    .TLDR {
        padding: 10% 0;
    }

    .footer {
        padding: 3% 0;
    }

    .link {
        width: 35%;
    }

    .link a {
        font-size: 2rem;
        padding: 3%;
    }

    .contact p {
        font-size: 2.5rem;
        padding-bottom: 2%;
    }

    .contact svg {
        width: 50%;
    }
}


@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}